@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market|Permanent+Marker&display=swap');

.is-logo{
  font-family: 'Yellowtail', cursive;
}

.is-montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.is-montserrat-bold{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.is-chalk{
  font-family: 'Chelsea Market', cursive;
}

.is-market{
  font-family: 'Permanent Marker', cursive;
}

.is-hidden{
  display: none;
}

.is-opacity-dark{
  background-color: rgba(54,54,54,.95);
}

.navbar > .container{
  min-height: 0px;
}

.is-mini{
  height: 40px;
}

.is-small-hero{
  min-height: 125px;
  padding-top: auto;
  padding-bottom: auto;
  background-color: white;
  width: 100%;
}



.is-transparent{
  background-color: rgba(0,0,0,0);
}

.middle-vertical{
  margin-top: auto;
  margin-bottom: auto;
}

a.navbar-item.notEfect:hover{
  background-color: rgba(0,0,0,0);
  cursor: default;
}

a.navbar-item.notEfect:focus-within{
  background-color: rgba(0,0,0,0);
}

.is-small-text{
  letter-spacing: 3px;
  font-size: 14px;
}

.navbar > .container{
  min-height: 0px;
}

.nav .nav-toggle span {
    background-color: white;
}

.navbar-menu{
  background: rgb(54,54,54)
}

.is-fixed-top{
  position:fixed;
  top:0;
  width:100%;
  z-index:100;
}

.searchInput{
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0px;
  border-color: none;
  box-shadow: none;
}

.searchInput2{
  color: hsl(0, 0%, 50%);
  background-color: rgba(0,0,0,0);
  border: 0px;
  border-color: none;
  box-shadow: none;
}

.searchInput:active{
  background-color: rgba(0,0,0,0);
}

.searchInput2:active{
  background-color: rgba(0,0,0,0);
}

.searchInput:active{
  background-color: rgba(0,0,0,0);
}

.searchInput2:active{
  background-color: rgba(0,0,0,0);
}

.input:active{
  box-shadow: none;
}

.input:focus{
  box-shadow: none;
}

.is-little-padding{
  padding-top: 15px;
}

.is-white{
  color: white;
}

.searchInput::placeholder{
  letter-spacing: 3px;
  font-size: 14px;
  color: white;
}

.searchInput2::placeholder{
  letter-spacing: 3px;
  font-size: 14px;
  color: hsl(0, 0%, 50%);
}

.searchInput:focus {
    border: 0px;
 }

 .searchInput2:focus {
     border: 0px;
  }

  .background2{
    background: hsl(0, 0%, 71%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, white ,  #847977  );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, white ,  #847977  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .background1{
    background: hsl(0, 0%, 71%);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, white ,  #dbd5d4  );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, white ,  #dbd5d4  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
