.navbar {
    min-height: 2rem;
}

.is-season{
  font-family: 'Permanent Marker', cursive;
} 

.is-text-align{
  text-align: center;
}

.is-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.is-paddingles{
  padding: 0px;
}

.is-marginless{
  margin: 0px;
}

.titleFooter{
  text-align: left;
  margin-left: 100px;
}

.subtitleFooter{
  text-align: right;
  margin-right: 30px;
}
