.is-text-align{
  text-align: center;
}

.is-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-item{
  margin-left: auto;
  margin-right: auto;
}

.leftside-item{
  margin-left: auto;
  margin-right: 10px;
}

.side-space{
  margin-left: 10px;
  margin-right: 10px;
}

.is-item-img{
  width: 60%;
  height: 80%;
}

.columns.talla{
  flex-grow: 1;
}

.next{
  margin-left: auto;
  margin-right: auto;
}

.is-next{
  float:left;
  margin-right:5px;
}

.price{
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}

.button{
  background-color: rgba(0,0,0,0.0);
  color: black;
  border-radius: 2px;
  height: 40px;
  width: 40px;
}

.button-sizes{
  border: 1px solid black;
}

.button-sizes:hover{
  background-color: rgba(0,0,0,0.0);
  color: black;
  border-radius: 2px;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.button-actived{
  background-color: black;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}


.button-actived:hover{
  background-color: black;
  color: white;
  border-radius: 2px;
  border: 1px solid black;
}

.add-to-cart{
  width: 60%;
  background-color: #a57551;
  color: white;
  font-size: 14px;
  height: 60px;
  letter-spacing: 3px;
}

.add-to-cart:hover{
  width: 60%;
  background-color: #896143;
  color: white;
  font-size: 14px;
  height: 60px;
}

.item-name{
  /* color: #a57551; */
}

.is-info-global{
  overflow: auto;
  margin-top: auto;
  margin-bottom: 0px;
}

#size{
  font-size: 11px;
}

.is-item-div{
  background-color: #f7f7f7;
}

.is-column-img{
  margin-top: 30px;
}
