.is-big-card{
   background-color: white;
   align-content: center;
   align-items: center;
}

.is-left-card{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.is-right-card{
  background-color: #555555;
  margin-top: auto;
  margin-bottom: auto;
}

.form{
  margin: 25px;
  color: #f28d00;
}

.input-card{
  background-color: #555555;
  border: none;
  border-bottom: 1px solid #f28d00;
  margin-bottom: 10px;
}

.background{
  background-color: #999999;
}

.background1{
  background: #FFB75E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
