.background1{
  background: hsl(0, 0%, 71%);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #8F919D ,  #7a635e  );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #8F919D ,  #7a635e  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* opacity: background-color: rgba(0,0,0,.5); */
.is-center-text{
  text-align: center;
}

.top-left-typo{
  margin-bottom: 20px;
}


.in-line{
  display:inline-block
}

.is-vertical-center{
  margin-bottom: auto;
}

.is-spaceless{
  margin: 0px;
  padding: 0px;
}

.big-login-card{
  margin: auto;
  width: 70%
}

.login-card-left{
  background-color: hsl(0, 0%, 21%);
  color: white;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.login-card-right{
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.is-white{
  color: white;
}

.loginLine{
  width: 30%;
}

.input::placeholder{
  color: hsl(0, 0%, 71%);
}

.inputLogIn{
  margin-top: -20px;
  background-color: rgba(0,0,0,0);
  border:0px;
  border-bottom: 1px solid white;
  color: white;
}

.input{
  box-shadow: none;
  border-radius; 0px;
  width: 80%;
}

.input:focus{
  border-color: none;
  box-shadow: none;
  border-bottom: 2px solid #604e4a;
}

.is-title-form{
  margin-top: 10px;
}

.is-success-input{
  border-bottom: 1px solid #3c663a;
}

.is-fail-input{
  border-bottom: 1px solid #892929;
}

.button{
  background-color: rgba(0,0,0,0.0);
  border: 1px solid white;
  color: white;
  border-radius: 2px;
}

.button:active{
  background-color: #604e4a;
}

.button:hover{
  border: 1px solid #c6c5c0;
  color: white;
}

.button.cancel{
  margin-left: 10px;
}

.button.cancel:hover{
  border: 1px solid #c6c5c0;
  color: white;
}

strong{
  color: #892929;
}
