.is-small-hero{
  min-height: 125px;
  padding-top: auto;
  padding-bottom: auto;
  background-color: white;
  width: 100%;
}

.is-text-align{
  text-align: center;
}

.is-little-padding{
  padding-top: 15px;
}

.is-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-item.navbar-center{
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.navbar-center{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.card{
  border-color: rgba(0,0,0,0.5);
  /*border-style: solid;
  border-width: 1px;*/
}

.card-content{
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.is-gender-title{
  text-align: center;
  color: #a57551;
  font-size: 35px;
  margin-bottom: 40px;
}

.is-filter-title{
  color: #a57551;
  font-size: 20px;
  margin-bottom: 20px;
}

.is-filter-sidebar{
  background-color: #f7f7f7;
}

.is-browned{
  color: #a57551;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid rgba(0,0,0,0.5);
  border-width: 0.8px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 6px;
  width: 6px;
  height: 11px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.is-check-place{
  margin-bottom: 20px;
}
