.is-small-hero{
  min-height: 125px;
  padding-top: auto;
  padding-bottom: auto;
  background-color: white;
  width: 100%;
}

.is-text-align{
  text-align: center;
}

.is-little-padding{
  padding-top: 15px;
}

.is-centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar-item.navbar-center{
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.navbar-center{
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.card{
  border-color: rgba(0,0,0,0.5);
  /*border-style: solid;
  border-width: 1px;*/
}

.card-content{
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.is-gender-title{
  /* #BC9237 */
  text-align: center;
  color: #a57551;
  font-size: 35px;
  margin-bottom: 20px;
}

.is-filter-title{
  color: #a57551;
  font-size: 20px;
}

.is-filter-sidebar{
  background-color: #f7f7f7;
}

input.filter{
    height: 20px;
    width: 20px;
}
